:root {
    --primary: #3b3d2b;
    --secondary: #ccd5ae;
    --secondary2: #e9edc9;
    --tertiary: #fefae0;
    --quarternary: #faedcd;
    --fivenary: #d4a373;
    --headfont: 'Helvetica', sans-serif;

}

body {
    background-image: url('/images/leaf_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--secondary);
}

.nav-title {
    font-family: var(--headfont);
    font-size: 2rem;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4vw;
    font-family: var(--headfont);
    font-weight: 600;
    gap: 1rem;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-left: 4vw;
}

.nav-left a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left img {
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.nav-right a.login {
    text-transform: lowercase;
    color: white;
    padding: 0.5rem 2.2vw;
    background-color: var(--fivenary);
    border-radius: 1.5rem;
}

.nav-right a {
    border-top: 0.5rem solid var(--primary);
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5rem solid var(--primary);
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

.nav-right .active,
.inactive {
    padding: 1.7rem 1.5vw;
}

.nav-right a.inactive:hover,
.nav-right a.active {
    border-top: 0.5rem solid var(--secondary);
}

body {
    background-color: #fafafa;
}

/*center the header div that contains a h1*/

div.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    border: 2px solid green;
    width: 60%;
    margin: 10rem auto 20px;
}

#line {
    width: 2px;
    height: 40rem;
    background-color: darkolivegreen;
    align-self: center;
}

div.left {
    width: 20rem;
}

div.right {
    width: 20rem;
}

div.header {
    text-align: center;
    font-family: var(--headfont);
    text-transform: uppercase;
    color: #423F32;
    border: 1px solid black;
    width: 34%;
    position: relative;
    margin: 100px auto 50px;
    overflow: visible;
}


.cb_name {
    font-family: var(--headfont);
    font-weight: 600;
    margin: 10px;
}

.cb_review {
    margin: 10px;
    width: 45%;
    height: 20px;
    background-image: url("../images/ratings/5.png");
    background-position: 50% 50%;
}

.revenue {
    margin: 10px;
}


.details {
    margin: 10px;
}

.description {
    margin: 10px;
}

.pic_container {
    width: 90%;
    margin: 10px 5% 10px;
    height: 300px;
    border-radius: 20px;
    background-image: url("../images/cafes/starbs.jpg");
    
    background-size: cover;
}

.text_container {
    margin: 10px 5%;
}

div.map_container {
    width: 90%;
    margin: 10px 5%;
    height: 150px;
    border-radius: 20px;
    background-image: url("../images/cafes/starbs.jpg");
    background-size: cover;
}

#map {
    position: relative;
    width: 100%;
}

.loc_container {
    margin: 10px 5%;
}

.sched_container {
    margin: 10px 5%;
}

div.content_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid green;
    width: 60%;
    margin: 10rem auto 20px;
}

.review_label {
    width: 40rem;
    text-align: left;
    margin: 10px 0px;
}

.review_post {
    width: 40rem;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    border: 2px solid green;
}

.prof_header {
    margin:10px 0px;


}

.profpic_container {
    float: left;
    width: 45px;
    height: 45px;
    padding: 3px 3px 3px 0px;
    margin: 0px 15px 0px 0px;
}

.profpic {

    border-radius: 50%;
    border: 2px solid green;
    max-width: 100%;
    max-height: 100%;
}
.user_review {
    width: 45%;
    height: 20px;
    background-image: url("../images/ratings/5.png");
    background-position: 30% 50%;
}
.review_comment {
    margin: 10px 0px;
}

.review_pics_container {
    width: 150px;
    height: 150px;
    margin: 20px 0px;

}

.review_pics {
    
    border: 2px solid green;
    max-width: 100%;
    max-height: 100%;
}

.helpful_actions {
    display: inline-block;
}

.like_button {
    width: 20px;
    height: 20px;
}

.dislike_button {
    width: 20px;
    height: 20px;
}

.helpful_buttons {
    max-width: 100%;
    max-height: 100%;
}

#locationinfo {
    background-color: yellowgreen;

}

#location {
    line-height: 15px;
    font-size: 12px;

}

#actionbar {
    padding: 10px 20px;
}

.actions {
    display: inline-block;
    background-image: url(sprites2.png);
    background-size: 411px 393px;
    height: 24px;
    width: 24px;
}

#like {
    background-position: 0px -319px;
}

#comment {
    background-position: -125px -294px;
}

#share {
    background-position: -200px -294px;
}

#bookmark {
    background-position: -175px -344px;
    float: right;
}

#postdetails {
    padding: 0px 20px 10px;
}

#postdescrip {
    padding: 0px 20px 10px;
}

#mention {
    color: #003469;
}

#daysposted {
    padding: 00px 20px 10px;
    color: #999;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2px;
}




/*buttons, search, and map*/

.search-box {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-container {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    padding-top: 0px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.search-form input[type="text"] {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-form button[type="submit"] {
    padding: 10px;
    background-color: var(--secondary);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.search-form button[type="submit"]:hover {
    cursor: pointer;
}

.map-container iframe {
    width: 900px;
    height: 450px;
    border: 1px solid brown;
}


/*recommended section*/
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 1px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
}

.carousel .card .img {
    height: 250px;
    width: 250px;
}

.card .img img {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}