<!--
This is the search bar with the picture.
-->
<div class="container-fluid search-container">
<h2>Your <i>Cup-ybara</i> of Coffee.</h2>
<p>Explore user-reviewed cafes here.</p>
<form class="search-form" action="/cafe" method="POST">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
</div>

<div class="container-sm listCon">
<div class="listInfo">
    <h1>View all cafes around Taft Avenue</h1>
    <p>Can't decide where to go? We got you!</p>
    <a href="/cafe" class="view-btn">See List</a>
</div>
</div>

