<div class="card mb-3">
    <div class="row g-0" style="margin: 0;">
        <div class="col-md-4">
        <img src="../../images/cafes/{{cafe_data.name}}.jpg" class="img-fluid rounded" alt="...">
        </div>

        <div class="col-md-6">
        <div class="card-body"  style="margin: 0;">

            <a href="../../html/cafes/{{cafe_data.name}}.html"><h5 class="card-title">{{cafe_data.name}}</h5></a>
            <div class = "cb_rating">
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <span class = "numreviews"></span>
        </div>
            <p class="card-text">{{cafe_data.description}}</p>
            <p class="card-text"><small class="text-body-secondary">{{}}</small></p>
        </div>
        </div>

    </div>
</div>