<!--
  Middle Column
-->
<div class="col-7">
  <!--
      Title for Recommended
  -->
  <div class="container-sm">
      <h3 class="recommended">
      CAFES IN YOUR AREA
      </h3>

      <!-- DROPDOWN SORT BY -->
      <div class="dropdown recommended">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by: 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Name</a></li>
            <li><a class="dropdown-item" href="#">Highest Rated</a></li>
            <li><a class="dropdown-item" href="#">Most Reviewed</a></li>
          </ul>
      </div>
  </div>

  <!--
      List of Cafes
  -->

  {{{error}}}

  {{#each cafeCards}}
    {{> cafeCard this}}
  {{/each}}

</div>
