<li class="card cardui">
        <img class="card-img-top" src="{{cafePath}}" alt="img" draggable="false">

        <div class="card-body">
                <a href="cafe/{{cafeName}}">
                        <h2 class="card-title">{{cafeName}}</h2>
                </a>
        <p class="card-text">Avg. Price: ₱{{avgPrice}}</p>
        </div>
</li>