
              <div class="col-2">
                <div class="container-sm">
                <h5 class="recommended">
                    FILTERS
                </h5>

                    <p class="recommended">
                        Rating
                    </p>
                    
                    <div class="custom-radio-group btn-group flex-wrap" role="group" aria-label="Basic radio toggle button group" style="margin: 0;">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradioall" autocomplete="off" onclick="sortCafesByRating('all')" checked>
                        <label class="btn btn-outline-primary" for="btnradioall">All</label>

                        <input type="radio" class="btn-check bg-success" name="btnradio" id="btnradio1" autocomplete="off" onclick="sortCafesByRating('1')">
                        <label class="btn btn-outline-primary" for="btnradio1">1 C</label>
                    
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="sortCafesByRating('2')">
                        <label class="btn btn-outline-primary" for="btnradio2">2 C</label>
                    
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="sortCafesByRating('3')">
                        <label class="btn btn-outline-primary" for="btnradio3">3 C</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" onclick="sortCafesByRating('4')">
                        <label class="btn btn-outline-primary" for="btnradio4">4 C</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" onclick="sortCafesByRating('5')">
                        <label class="btn btn-outline-primary" for="btnradio5">5 C</label>
                    </div>

                    <hr>

                    <p class="recommended">
                        Price Range
                    </p>

                    <div class="custom-radio-group btn-group flex-wrap" role="group" aria-label="Basic radio toggle button group" style="margin: 0;">
                        <input type="radio" class="btn-check bg-success" name="btnradio2" id="btnradio20" autocomplete="off" onclick="sortCafes('all')" checked>
                        <label class="btn btn-outline-primary" for="btnradio20">All</label>
                        
                        <input type="radio" class="btn-check bg-success" name="btnradio2" id="btnradio21" autocomplete="off" onclick="sortCafes('P')">
                        <label class="btn btn-outline-primary" for="btnradio21">₱</label>
                    
                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio22" autocomplete="off" onclick="sortCafes('PP')">
                        <label class="btn btn-outline-primary" for="btnradio22">₱₱</label>
                    
                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio23" autocomplete="off" onclick="sortCafes('PPP')">
                        <label class="btn btn-outline-primary" for="btnradio23">₱₱₱</label>
                    </div>

                    <hr>
                </div>

                </div>