<!--
This is the header for login and register
-->
<div class = "header">
    <div class = "header-signin active-login">
        <a href = "/login">
            <img src = "../../images/assets/login.png">
            <h3>Sign In</h3>
        </a>
    </div>
    <div class = "header-register inactive-login">
        <a href = "/register">
            <img src = "../../images/assets/register.png">
            <h3>Register</h3>
        </a>
    </div>
</div>
<br>

