<!DOCTYPE html>
    <head>
        <!--
            TO DO: USE JAVASCRIPT TO CHECK WHAT DIRECTORY
            WE'RE IN TO TELL THE HANDLEBAR WHICH CSS
            FILE WE WANT TO USE BRO
            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

            {{#each css}}
                <link rel="stylesheet" href="/css/{{this}}">
            {{/each}}
        -->
        {{> head}}

        <script src = "../../scripts/cafes.js" defer></script>
        <script src = "../../scripts/readmore.js"></script>
        <link rel = "stylesheet" href = "../../css/cafes.css">
        <link rel="stylesheet" href="../../css/index.css" />
    </head>

    <body>
        {{#unless session}}
            {{> navbar}}
        {{else}}
            {{> navbar_logged}}
        {{/unless}}
        {{{body}}}

        {{> footer}}
       
    </body>

    
</html>
