<!DOCTYPE html>
    <head>
        <!--
            TO DO: USE JAVASCRIPT TO CHECK WHAT DIRECTORY
            WE'RE IN TO TELL THE HANDLEBAR WHICH CSS
            FILE WE WANT TO USE BRO
            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

            {{#each css}}
                <link rel="stylesheet" href="/css/{{this}}">
            {{/each}}
        -->
        {{> head}}
        <link rel="stylesheet" href="../../css/user_profile.css" />
        <link rel="stylesheet" href="../../css/owner_profile.css" />
    </head>

    <body>
        {{#unless session}}
            {{> navbar}}
        {{else}}
            {{> navbar_logged}}
        {{/unless}}
        {{{body}}}

        {{> footer}}
       
    </body>

    
</html>
