<link rel="stylesheet" href="../../css/about.css" />
<script>
    console.log("HELLO")
</script>

<div class="content-container">
    <h1>Meet the Team</h1>
    <h2>We are Group 11 of CCAPDEV-S19.</h2>
    <div class="sub-container">

    {{#each profilecards}}
        {{> profilecard this}}
    {{/each}}   

    </div>


    <div id="dependencies">
        <h2>
            Libraries Used
        </h2>
        <ul>
        {{#each dependencies}}
            <li><b>{{@key}}</b> {{@this}}</li>
        {{/each}}
        </ul>
    </div>
</div>