

<link rel="stylesheet" href="../../css/view_cafes.css" />
<script>
    function sortCafes(priceLabel) {
        const cafes = document.querySelectorAll('.card');
        cafes.forEach(cafe => {
            if (priceLabel === 'all') {
                cafe.style.display = 'block'; // Show all cafes
            } else {
                const cafePrice = parseFloat(cafe.getAttribute('data-price'));
                const shouldShow = (
                    (priceLabel === 'P' && cafePrice < 200) ||
                    (priceLabel === 'PP' && cafePrice >= 200 && cafePrice < 250) ||
                    (priceLabel === 'PPP' && cafePrice >= 250)
                );
                cafe.style.display = shouldShow ? 'block' : 'none';
            }
        });
    }

    //make a function that sorts cafes by rating
    function sortCafesByRating(ratingLabel) {
        const cafes = document.querySelectorAll('.card');
        cafes.forEach(cafe => {
            if (ratingLabel === 'all') {
                cafe.style.display = 'block'; // Show all cafes
            } else {
                const cafeRating = parseFloat(cafe.getAttribute('data-rating'));
                const shouldShow = (
                    (ratingLabel === '1' && cafeRating <= 1) ||
                    (ratingLabel === '2' && cafeRating > 1 && cafeRating <= 2) ||
                    (ratingLabel === '3' && cafeRating > 2 && cafeRating <= 3) ||
                    (ratingLabel === '4' && cafeRating > 3 && cafeRating <= 4) ||
                    (ratingLabel === '5' && cafeRating > 4)
                );
                cafe.style.display = shouldShow ? 'block' : 'none';
            }
        });
    }
</script>

<div class="container-fluid userCon">
        <div class="container-fluid" style="margin: 0 auto;">
            <div class="row">
                <div class="searchbar-container">
                    <form class="search-form" action="/cafe" method="POST">
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
              {{> filters}}
             
              {{> cafelist this}}
              
              <!-- 
                Right Column
              -->
              <div class="col offset-md-4">
                <div id="map"></div>
              </div>

            </div>
            <!-- ROW -->

        </div>
        <!-- container-sm -->

    </div>

{{> map_script}}