<!-- 
    BEGINNING OF MAIN CONTAINER

    Notes:  I made it container sm and userCon
            so that it inherits the properties of Bootstrap fluid
-->
<script src="../../scripts/index-carousel.js" defer></script>

<div class="container-fluid userCon">
    
    {{> big_searchbar}}
    {{> newly_opened}}
</div>
