  <form class = "editprofileform" name = "editprofileform" action = "/updateprofile" method="POST" enctype="multipart/form-data">
     <div class = "content-wrapper">
                
        <div class = "profilepic">
            <img src = {{userProfile.profilepic}} id = "profilepic">
            <div class = "uploadphoto-btn">
                <label for = "uploadbtn">Upload Photo</label>
                <input type = "file"  name = "dp_upload" accept = "image/*" single>
            </div>
        </div>
        <div class = "btns spacing">
                    <input type = "reset" class = "btn btn-secondary" value = "Cancel">
                    <input type = "submit" class = "btn btn-primary" value = "Save Changes">
                </div>
    </div>
</form>