 <div class="container-fluid userCon">

        <div class="container-fluid">

            <div class="row">

              <div class="col-3">
                <div class="container-sm">

                <img src="../../images/assets/login.png" style="width: 60%; border-radius: 10%; border: 1px solid grey;">
                <h5 class="recommended">
                    Francis M.
                </h5>

                    <p class="recommended">
                      member since 2023
                    </p>
                    
                    <p>
                      I am just a middle aged man finding happiness in going on food trips.
                    </p>

                    <hr>

                    <p class="recommended">
                        Review Stats
                    </p>

                    <p>
                      5 stars: 169 <br>
                      4 stars: 123<br>
                      3 stars: 2<br>
                      2 stars: 32<br>
                      1 stars: 12<br>
                    </p>


                    <hr>
                </div>

                </div>

                
              <!--
                Middle Column
              -->
              <div class="col-8">
                <!--
                    Title for Recommended
                -->
                <div class="container-sm">
                    <h3 class="recommended">
                    Their Reviews
                    </h3>


                    <!-- DROPDOWN SORT BY -->
                    <div class="dropdown recommended">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Sort by: 
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Date</a></li>
                          <li><a class="dropdown-item" href="#">Alphabetical</a></li>
                          <li><a class="dropdown-item" href="#">Most Useful</a></li>
                        </ul>
                    </div>
                </div>

                <!--
                    List of Cafes
                -->

                 <!-- Cafe 6 -->
                 <div class="card mb-3">
                    <div class="row g-0" style="margin: 0;">
                      <div class="col-md-4">
                        <img src="../../images/cafes/starbs.jpg" class="img-fluid rounded" alt="...">
                      </div>

                      <div class="col-md-6">
                        <div class="card-body"  style="margin: 0;">
                          <a href="../../html/cafes/starbs.html"><h5 class="card-title">Starbucks Green Court</h5></a>
                          <p class="card-text">LEGEN...DAIRY</p>
                          <div class="hard">
                          <img src="../../images/ratings/full.png"/>
                          <img src="../../images/ratings/full.png"/>
                          <img src="../../images/ratings/full.png"/>
                          <img src="../../images/ratings/full.png"/>
                          <img src="../../images/ratings/full.png"/>
                          <br></div>
                          <p class="card-text"><small class="text-body-secondary">Oh my gosh, I am, like, totally obsessed with Starbucks! Every time I walk into their super chill and sosyal store, I just feel, like, sosyal AF, you know? The smell of freshly brewed coffee pa lang, it's already an instant mood-lifter. And the baristas, OMG, they're always so jolly and ma-chika! Whether I'm craving for a super extra creamy latte or a refreshing iced tea, Starbucks never fails to deliver. The food choices, mga beh, super sarap! They have these ah-mazing pastries and sandwiches that are perfect for my IG-worthy brunch dates with my barkada. And let's not forget the Starbucks Rewards, girl! I get to earn stars and redeem them for free drinks and other exclusive perks. Starbucks is like my ultimate go-to coffee shop for the best vibes, yummy drinks, and top-notch customer service! Yas, Starbucks, you slay!</small></p>
                        </div>
                      </div>

                    </div>
                </div>

                <!--
                    Pagination
                -->
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>

                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>

                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
              </div>

              <!-- 
                Right Column
              -->
             
            </div>
            <!-- ROW -->

        </div>
        <!-- container-sm -->

    </div>