:root {
  --primary: #3b3d2b;
  --secondary: #ccd5ae;
  --secondary2: #e9edc9;
  --secondary3: #99a280;
  --tertiary: #fefae0;
  --quarternary: #faedcd;
  --fivenary: #d4a373;
  --sexanary: #423F32;
  --headfont: 'Merriweather Sans', sans-serif;
  --secondaryfont: 'Ubuntu Condensed', sans-serif;

}

.content-container {
  text-align: center;
  background: #f5f5f5;
  padding-top: 5rem;
}

.content-container h1 {
  padding-top: 60px;
  color: #444;  
  margin: auto;
  line-height: 100px;  
  font-size: 80px;
}

.content-container h2 {
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 100px;  
  font-size: 40px;
}

.sub-container {
  max-width: 100%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 15rem;
}

.profile {
  margin: 0 50px;
  max-width: 400px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  max-height: 100%;
  height: 400px; /* Adjust the height value as needed */
  
}

.profile img {
  text-align: center;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain; /* Optional: Preserve aspect ratio */
  border-radius: 50%;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 36px; 
}

.position {
  font-style: italic;
  font-size: 24px;
  color: #888;
}

.bio {
  margin: 20px 0;
  font-weight: lighter;
  font-size: 16px;
  color: #4e4e4e;
}


.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 26px;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links a i {
  color: #444;
}

#dependencies {
  padding-bottom: 5rem;
  background-color: var(--secondary );
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
}


@media screen and (max-width: 600px) {
  .profile {
    max-width: 100%;
  }
}