@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&family=Ubuntu+Condensed&display=swap');
:root {
    --primary: #3b3d2b;
    --secondary: #ccd5ae;
    --secondary2: #e9edc9;
    --secondary3: #99a280;
    --tertiary: #fefae0;
    --quarternary: #faedcd;
    --fivenary: #d4a373;
    --sexanary: #423F32;
    --headfont: 'Merriweather Sans', sans-serif;
    --secondaryfont: 'Ubuntu Condensed', sans-serif;
}

/* big containers */
.content-wrapper{
    display:flex;
    width:60rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin:auto;
    font-family: var(--headfont);
    position: relative;
    margin-top: 5rem;
}

/* profile picture */
.profilepic{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#profilepic{
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    image-rendering: pixelated;
}

.uploadphoto-btn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadphoto-btn label{
    cursor: pointer;
    color: white;
    background-color: #d4a373;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.uploadphoto-btn label:hover{
    box-shadow: inset 0 0 0 2px #8a6643;
}

#profilepic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hidden{
    display: none;
}

/* right side*/
.right-div{
    padding: 2rem;
    margin-top:2rem; 
    display:flex;
    flex-direction: column;
}

.form-control, .form-select{
    border-color: #8a6643 !important;
}

label{
    font-size: 1.2rem;;
}

.spacing{
    margin-top: 1rem;
}

.hspacing{
    margin-left: 1rem;
}

#daydiv{
    width: 70px;
}

#monthdiv{
    width: 220px;
}

#yeardiv{
    width: 150px;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn-primary{
    background-color: var(--fivenary) !important;
    border-color: var(--fivenary) !important;
}

/* vertical line */
.vertline{
    border: 1px solid var(--fivenary);
    height: 600px;
    margin-left: 5px;
}