@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&family=Ubuntu+Condensed&display=swap');
:root {
    --primary: #3b3d2b;
    --secondary: #ccd5ae;
    --secondary2: #e9edc9;
    --secondary3: #99a280;
    --tertiary: #fefae0;
    --quarternary: #faedcd;
    --fivenary: #d4a373;
    --sexanary: #423F32;
    --headfont: 'Merriweather Sans', sans-serif;
    --secondaryfont: 'Ubuntu Condensed', sans-serif;

}

/*NAVBAR*/
#logo{
  width: 45px;
  border-radius: 50%;
  margin-left:3vw;
}

#headername{
  font-family: var(--headfont) !important;
  font-size: 2rem;
  color: var(--secondary) !important;
  margin-left: 0.3vw;
  align-self: center;
  vertical-align: middle;
  font-weight: 700;
}

#navbarNav{
  justify-content: flex-end;
  margin-right:4vw;
}

a.nav-link{
  text-transform: uppercase;
  width: 7em;
  padding: 1.5em 0 1.5em 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
}

a#login{
  text-transform: lowercase;
  background-color: var(--fivenary) !important;
  margin: 1.3em 0 1.3em 0;
  padding: 0.2em 0 0.2em 0;
  border-radius: 2em;
  color:white;
}

.active{
  box-shadow: inset 0 3px var(--secondary);
}

.inactive:hover{
  box-shadow: inset 0 3px var(--secondary);
}

nav.navbar{
  background-color: var(--primary) !important;
  padding: 0 16px;
}

ul.dropdown-menu{
  background-color: #f5f5f5 !important;
  border: none;
  padding: 0;
}

a.dropdown-item{
  color: black !important;
}

a.dropdown-item:hover{
  background-color: #cacaca;
}

body {
    background-color: #fafafa;
    background-image: url('../images/assets/leaf_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*center the header div that contains a h1*/

div.userCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.5em;
  padding: 0;
}



/* search bar */
div.search-container{
  background-image: url('../images/assets/cafe-container-bg.jpg');
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -640px;
  margin-bottom: 5em;
}

.search-container {
  color: #fff;
  text-shadow: 2px 2px 2px black;
  font-family: var(--secondaryfont);
}

.search-container h2{
  font-size: 90px;
}

.search-container p {
  font-size: 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.search-form input[type="text"] {
  padding: 20px 20px;
  font-size: 1rem;
  border: none;
  outline: none;
}

.search-form button[type="submit"] {
  padding: 20px;
  background-color: #b6be9c;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 0 30px 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.search-form button[type="submit"]:hover {
  cursor: pointer;
}


/*list container*/
div.listCon {
  display: flex;
  flex-direction: column;
  background-image: url('../images/assets/list-bg.jpeg');
  height: 100%;
  width: 100%;
  padding-top: 400px;
  padding-right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--secondaryfont);
  margin: auto 140px;
}

div.listInfo {
  background: rgba(0, 0, 0, .4);
  padding-bottom: 27px;
  padding-left: 20px;
  font-size: 1.7em
}

.listInfo h1, .listInfo p {
  color: white
}

.view-btn {
  border: none;
  background-color: white;
  color: var(--sexanary);
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.view-btn:focus {
  outline: none;
}

.view-btn:hover {
  background-color: #0069d9;
}

/*recommended section*/
.wrapper {
  width: 100% !important;
  position: relative;
  margin-top: 1em !important;
  margin-bottom: 10em !important;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 9999;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 1px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .cardui {
  cursor: grab;
  user-select: none;
}

.carousel :where(.cardui, .img) {
  display: flex;
  justify-content: left !important;
  align-items: left !important;
}

.carousel .cardui {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
}
.carousel .cardui .img {
  height: 250px;
  width: 250px;
}
.cardui .img img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .cardui h2 {
  font-weight: 500;
  font-size: 1.48rem;
}
.carousel .cardui p {
  color: #6A6D78;
  font-size: 1.11rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.recommended {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 800;
  margin-top: 2em;
}

h3.recommended {
  font-size: 2.5rem;
}

p.recommended {
  color: var(--sexanary);
  margin: 0;
  font-size: 1.5rem;
}

.card-img-top {
  width: 100%;
  height: 14vw;
  object-fit: cover;
}


.card-body > a {
  text-decoration: none !important;
  color: var(--secondary3) !important;
}

.card-body > a:hover {
  color: var(--sexanary) !important;
}