@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&family=Ubuntu+Condensed&display=swap');
:root {
    --primary: #3b3d2b;
    --secondary: #ccd5ae;
    --secondary2: #e9edc9;
    --secondary3: #99a280;
    --tertiary: #fefae0;
    --quarternary: #faedcd;
    --fivenary: #d4a373;
    --sexanary: #423F32;
    --headfont: 'Merriweather Sans', sans-serif;
    --secondaryfont: 'Ubuntu Condensed', sans-serif;
}

/*NAVBAR*/
#logo{
    width: 45px;
    border-radius: 50%;
    margin-left:3vw;
  }
  
  body {
    background-image: url('../images/assets/leaf_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #headername{
    font-family: var(--headfont);
    font-size: 2rem;
    color: var(--secondary);
    margin-left: 0.3vw;
    align-self: center;
    vertical-align: middle;
    font-weight: 700;
  }
  
  #navbarNavDropdown{
    justify-content: flex-end;
    margin-right:4vw;
  }
  
  
  .nav-link{
    text-transform: uppercase;
    width: 7em;
    padding: 1.5em 0 1.5em 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
  }
  
  a#login{
    text-transform: lowercase;
    background-color: var(--fivenary);
    margin: 1.3em 0 1.3em 0;
    padding: 0.2em 0 0.2em 0;
    border-radius: 2em;
    color:white;
  }
  
  .active{
    box-shadow: inset 0 3px var(--secondary);
  }
  
  .inactive:hover{
    box-shadow: inset 0 3px var(--secondary);
  }
  
  .navbar{
    background-color: var(--primary);
    padding: 0 16px;
  }

div.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--headfont);
    color: #423F32;
    width: 30rem;
    position: relative;
    margin: 10rem auto;
    overflow: hidden;
    border-radius: 30px;
    padding: 0 0 1rem 0;
    box-shadow: 0px 5px 10px 2px var(--primary);
}

.header{
    display: flex;
    background-color: yellow;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.header-signin{
    background-color: var(--primary);
    color: var(--secondary);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-register{
    background-color: var(--primary);
    color: var(--secondary);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.inactive-login{
    filter: brightness(70%);    
}

div.inactive-login:hover, div.active-login:hover{
    filter: brightness(150%);
}

div.inactive-login a, div.active-login a{
    text-decoration: none;
    color:inherit;
    width: 100%;
}

.header img{
    width: 2rem;
    margin-top: 1rem;
    padding:0;
    margin-bottom:10px;
}

label{
    font-weight:700;
    font-size: 18px;
}

input, select{
    border-radius: 5px;
    padding: 0 4px;
    height: 32px;
    margin-top: 0.5rem;
    border: 1px solid var(--primary);
    font-size: 17px;
}

input.inputfield{
    margin-bottom: 1rem;
}
input#password{
    margin-bottom: 0.2rem;
}

p#errorMessage{
    height:20px;
    color:red; 
    font:italic 15px Arial, sans-serif;
    margin:0px;
}

input#submit{
    margin-top:0.2rem;
    border-radius: 15px;
    background-color: var(--primary);
    color:white;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    height:100%;
    border: 0;
    margin-bottom: 20px;
}

input#submit:hover{
    cursor: pointer;
    filter: brightness(120%);
    box-shadow: 0px 0px 2px 2px #3b3d2b;
}

.form-wrapper{
    text-align: left;
    width: 75%;
}

#buton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singlebox{
    display: flex;
    flex-direction: column;
    padding: 0;
}

label{
    margin-bottom: 0;
}

footer {
    position: absolute;
    bottom: 0;
}