@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&family=Ubuntu+Condensed&display=swap');
:root {
    --primary: #3b3d2b;
    --secondary: #ccd5ae;
    --secondary2: #e9edc9;
    --secondary3: #99a280;
    --tertiary: #fefae0;
    --quarternary: #faedcd;
    --fivenary: #d4a373;
    --sexanary: #423F32;
    --headfont: 'Merriweather Sans', sans-serif;
    --secondaryfont: 'Ubuntu Condensed', sans-serif;
}

#logo{
    width: 45px;
    border-radius: 50%;
    margin-left:3vw;
}

#headername{
    font-family: var(--headfont) !important;
    font-size: 2rem;
    color: var(--secondary) !important;
    margin-left: 0.3vw;
    align-self: center;
    vertical-align: middle;
    font-weight: 700;
}

a.nav-link, a#collasible-nav-dropdown{
    text-transform: uppercase;
    width: 7em;
    padding: 1.5em 0 1.5em 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    color: #ffffff8C !important;
}

a.nav-link:hover, a#collasible-nav-dropdown:hover{
    color:white !important;
}

a#login{
    text-transform: lowercase;
    background-color: var(--fivenary) !important;
    margin: 1.3em 0 1.3em 0;
    padding: 0.2em 0 0.2em 0;
    border-radius: 2em;
    color:white;
}

a.active{
    box-shadow: inset 0 3px var(--secondary);
    color:white !important;
}

.inactive:hover{
    box-shadow: inset 0 3px var(--secondary);
}

nav.navbar{
    background-color: var(--primary) !important;
    padding: 0 16px;
}


.dropdown-item{
    color: black !important;
    text-transform: capitalize;
}

a.dropdown-item:hover{
    background-color: #cacaca;
}